package main

/*
#cgo OS_PLACEHOLDER CFLAGS: -ILIB_INTL_PLACEHOLDER -g
#cgo OS_PLACEHOLDER CFLAGS: -Ifdw -ISERVER_INCLUDE_PLACEHOLDER -IINTERNAL_INCLUDE_PLACEHOLDER -g
#include "postgres.h"
#include "common.h"
#include "fdw_helpers.h"
*/
import "C"

/*
DISCLAIMER
*/