package hub

import (
	{{.Plugin}} "{{.PluginGithubUrl}}/tables"
	"github.com/turbot/steampipe-plugin-sdk/v5/plugin"
)

var pluginAlias = "{{.Plugin}}"

func getPluginFunc() plugin.PluginFunc {
	return {{.Plugin}}.Plugin
}