package hub

import (
//	{{.Plugin}} "{{.PluginGithubUrl}}/{{.Plugin}}"
	"github.com/turbot/steampipe-plugin-sdk/v5/plugin"
)

var pluginAlias = "{{.Plugin}}"

func getPluginFunc() plugin.PluginFunc {
//	return {{.Plugin}}.Plugin
return nil
}